body{
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  background-color: #4a2480;
  font-family: 'Chakra Petch', sans-serif;
}
#header{
  height: 10%;
  width: 100%;
  background-color: #4a2480;
  border-bottom: 5px solid black;
}
.loginn{
  padding-top: 6px;
  padding-right: 25px;
  float: right;
  display: flex;
}
.titre{
  display: flex;
  justify-content: center;
  float: left;
}
h1{
  font-size: 40px;
  text-align: center;
  color: white;
  font-weight: bold;
}

#lgoo{
  height: 50px;
  width: 60px;
  margin: 0;
}
#section{
  border-top: 5px solid black;
  height: 80%;
  width: 100%;
  display: flex;

}
.nav{
  width: 20%;
  height: 100%;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
a{

}
.titre-side{
  margin-top: 54px;
  padding-left: 50px;
  color: aliceblue;
  font-size: 32px;
  font-family: 'Chakra Petch', sans-serif;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}
.homo{
  margin-top: 54px;
  padding-left: 60px;
  color: aliceblue;
  font-size: 38px;
  font-family: 'Chakra Petch', sans-serif;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}
.ttt{
  margin-top: 54px;
  padding-left: 18px;
  color: aliceblue;
  font-size: 28px;
  font-family: 'Chakra Petch', sans-serif;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}

.side{
  margin-top: px;
  margin-left: 10px;
  width: 90%;
  height: 13%;
  background-color: rgb(42, 8, 59);
  border: 4px solid black;
  border-radius: 10px;
}
.input-group{
  padding-top: 8px;
  display: flex;
  justify-content: center;
}
#search-button{
  width: 60px;
  height: 60px;
}
#search-input{
  height: 60px;
  width: 190px;
}
.article{
  width: 80%;
  height: 100%;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
}
.art{
  border: 3px solid black;
  border-radius: 10px;
  flex: 240px;
  margin: 10px;
  background-color: #ff8e80;
}
.arts{
  flex: 240px;
  background-color: aqua;
}
#footer{
  height: 10%;
  width: 100%;
  background-color: #051f39;
}
a{
  width: 80%;
  text-decoration: none;
  color: white;
}
img{
  width: 100%;
  height: 280px;
}
.headd{
  text-align: center;
}
.soushead{
  text-align: center;
}
.ls{
  width: 100%;
  height: 80px;
  background-color: #c53a9d;
  opacity: 0,4;
}
.ls:hover{
background-color: #4e3d49;
opacity: 0,9;
}
.lis{
  font-size: 34px;
  color: white;
  font-family: 'Chakra Petch', sans-serif;
}
.lis:hover{
  font-size: 40px;
}
.dacolor{
  color: #6f1a57;
  
}
#insta{
  height: 50px;
  width: 70px;
}
#facbook{
  height: 50px;
  width: 70px;
}
h1{
  font-family: 'Chakra Petch', sans-serif;
}
.ll{
  background-color: black;
  width: 192px;
  height: 40px;
  color: white;
  font-weight: bold;
  font-size: 24px;
  border-radius: 23px;
  opacity: 0,6;
  font-family: 'Chakra Petch', sans-serif;
}
.ll:hover{
  opacity: 0,9;
}














































