*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
}
.flex{
    display: flex;
    height: 60%;
    width: 50%;
    border: 5px solid black;
}
.lwla{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
}
.lwla1{
    height: 50%;
    background-color: black;
    display: flex;
    border-bottom: 2.5px solid black;
    border-right: 2.5px solid black;
}
.lwla11{
    height: 100%;
    width: 50%;
    background-color: red;
    border-right: 2.5px solid black;
}
.lwla12{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
}
.lwla13{
    height: 50%;
    background-color: green;
    border-left: 2.5px solid black;
    border-bottom: 2.5px solid black;
}
.lwla14{
    height: 50%;
    background-color: yellow;
    border-left: 2.5px solid black;
    border-top: 2.5px solid black;
}
.lwla2{
    height: 50%;
    background-color: rgb(75, 2, 75);
    border-top: 2.5px solid black;
    border-right: 2.5px solid black;
}
.tanya{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
}
.tanya1{
    height: 50%;
    background-color: black;
    display: flex;
    border-bottom: 2.5px solid black;
    border-left: 2.5px solid black;
}
.tanya11{
    height: 100%;
    width: 50%;
    background-color: red;
    border-right: 2.5px solid black;
}
.tanya12{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
}
.tanya13{
    height: 50%;
    background-color: green;
    border-left: 2.5px solid black;
    border-bottom: 2.5px solid black;
}
.tanya14{
    height: 50%;
    background-color: yellow;
    border-left: 2.5px solid black;
    border-top: 2.5px solid black;
}
.tanya2{
    height: 50%;
    background-color: orange;
    border-top: 2.5px solid black;
    border-left: 2.5px solid black;
}
.trying{
    height: 7%;
    width: 10%;
    background-color: black;
    color: azure;
    position: relative;
}
.trying::after{
    content: "";
    background-color: red;
    position: absolute;
    height: 10%;
    width: 0;
    bottom: 0;
    left: 0;
    transition: 0.6s;
}
.trying:hover:after{
    width: 100%;   
}